langchain
langchain_groq
ipykernel
python-dotenv
langchain_core
langchain_community
transformers
langchain_chroma
langchain_huggingface
bs4
sse_starlette
faiss-cpu
pymupdf
pypdf
chromadb
arxiv
wikipedia
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
yt-dlp
numexpr
huggingface_hub
openai
tiktoken
cassio
datasets
PyPDF2
PDFReader
gradio